{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content_profile:
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="portlet light">
	<div class="portlet-body">
		<form role="form" action="#">
			<div class = 'row' style="margin-bottom: 20px;">
				<div class = 'col-md-5'>
					<h2>{{=it.translation['account_title_publicinformation']}}</h2>
				</div>
				<div class = 'col-md-7'></div>
			</div>
			<div class = 'row' >
				<div class = 'col-md-3'>
					<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;" style='margin-bottom:5px;'>
						<div class="visual">
							<i class="fab fa-btc fa-2x"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{#def.format:{n: it.user.deposits, decimals:2} }} Bits
							</div>
							<div class="desc">
								{{=it.translation['account_statistics_deposits']}}
							</div>
						</div>
					</a>
				</div>
				<div class = 'col-md-3'>
					<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;" style='margin-bottom:5px;'>
						<div class="visual">
							<i class="fa fa-dollar-sign fa-2x"></i>
						</div>
						<div class="details">
							<div class="number">
								{{#def.format:{n: it.user.withdrawals, decimals:2} }} Bits
							</div>
							<div class="desc">
								{{=it.translation['account_statistics_withdrawal']}}
							</div>
						</div>
					</a>
				</div>
				<div class = 'col-md-3'>
					<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;" style='margin-bottom:5px;'>
						<div class="visual">
							<i class="fas fa-gift fa-2x"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{#def.format:{n: it.user.giveaways, decimals:2} }}
							</div>
							<div class="desc">
								{{=it.translation['account_statistics_freebitscollected']}}
							</div>
						</div>
					</a>
				</div>
				<div class = 'col-md-3'>
					<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;" style='margin-bottom:5px;'>
						<div class="visual">
							<i class="far fa-money-bill-alt fa-2x"></i>
						</div>
						<div class="details">
							<div class="number">
								{{#def.format:{n: it.user.net_profit, decimals:2} }} Bits
							</div>
							<div class="desc">
								{{=it.translation['account_statistics_netprofit']}}
							</div>
						</div>
					</a>
				</div>
			</div>
      {{?typeof it.user.eligible !== 'number' }}
          {{?it.user.balance_satoshis > 100}}
               <div class="success bits" style = 'margin-top:20px; font-size:14px;'>{{=it.translation['account_freebit_sentence_1']}} <a href="/giveaway"><small> {{=it.translation['account_freebit_link']}}</small></a></div>
				<!--<p style = 'margin-top:30px;'>** Every hour you are able to request 2 free bits, just claim them!</p>-->
				<!--<form class="giveaway-form" action="/request" method="post" id="id_formFaucet">-->
						<!--<div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="submitFormFaucet"></div>-->
				<!--</form>-->
          {{?}}
      {{??}}
          <div class="success bits" style = 'margin-top:20px; font-size:14px;'>{{=it.translation['account_freebit_sentence_2_1']}}{{=it.user.eligible}}{{=it.translation['account_freebit_sentence_2_2']}}</div>
      {{?}}

			{{?it.warning}}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close-alert" data-dismiss="alert" aria-hidden="true"></button>
				<strong>{{=it.translation['account_warning']}}&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{!it.warning}}
			</div>
			{{?}}

			{{?it.success}}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close-alert" data-dismiss="alert" aria-hidden="true"></button>
				<strong>{{=it.translation['account_success']}}&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{!it.success}}
			</div>
			{{?}}


			<div class = 'row' style = 'margin: 20px auto;'>
				<div class = 'col-md-12' style = 'height:365px; text-align:center;'>
            <div id="id_divAccountChart" class = 'custom-chart' style="width: 100%; height: 400px;"></div>
			<div class = 'row' align = 'center' style = 'font-size: 16px;'>
				{{? it.previous_page }}
				<a href="?p=1" style="margin-right: 10px;">{{=it.translation['account_chart_navigation_first']}}</a>
				<a href="{{= it.previous_page }}" style="margin-right: 10px;">{{=it.translation['account_chart_navigation_previous']}}</a>
				{{?}}

				{{? it.next_page }}
				<a href="{{= it.next_page }}" style="margin-right: 10px;">{{=it.translation['account_chart_navigation_next']}}</a>
				<a href="{{= it.stats.username }}" style="margin-right: 10px;">{{=it.translation['account_chart_navigation_last']}}</a>
				{{?}}
			</div>
        </div>
			</div>
		</form>
	</div>
</div>


<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/metronic/assets/global/plugins/respond.min.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->

<script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

<script src="/vendor/amcharts/amcharts.js"></script>
<script src="/vendor/amcharts/serial.js"></script>
<script src="/vendor/amcharts/plugins/export/export.min.js"></script>
<script src="/vendor/amcharts/themes/dark.js"></script>
<script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>

<!-- END CORE PLUGINS -->
<script src="/metronic/assets/global/scripts/Metronic.js" type="text/javascript"></script>
<script src="/metronic/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>

<script>
$(document).ready(function() {
    Metronic.init();
    Layout.init();
		CustomChart({{= it.games_from}}, {{= it.net_profit_offset}}, {{=JSON.stringify(it.plays)}});
});

function submitFormFaucet() {
	$('#id_formFaucet').submit();
};
function CustomChart(startingFrom, cum, chartData) {

		chartData.reverse();
		chartData.forEach(function(entry, i) {
				var profit = (entry.cash_out ? entry.cash_out : 0) + (entry.bonus ? entry.bonus : 0) - entry.bet;
				cum += profit;
				entry.cum_profit = (cum/100);
				entry.n = startingFrom+i;
				if (profit > 0) {
					entry.force_color = 'green'
				} else if (profit < 0) {
					entry.force_color = 'red'
				} else {
					entry.force_color = 'gray'
				}
		});

    	AmCharts.ready(function () {
            function frmt(x) {
                var entry = x.dataContext;
                var profit = (entry.cash_out ? entry.cash_out : 0) + (entry.bonus ? entry.bonus : 0) - entry.bet;

                var r = "<table>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_gameid']}}</th><td>" + entry.game_id + "<br><small>(" + entry.timeago + ")</small>" +
                    "</td></tr>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_bet']}}</th><td>" + (entry.bet / 100).toFixed() + " bits</td></tr>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_crashat']}}</th><td>" + (typeof entry.game_crash !== 'undefined' ? (entry.game_crash / 100).toFixed(2) + 'x' : '?') + "</td></tr>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_cashedout']}}</th><td>" + (entry.cash_out ? (entry.cash_out / entry.bet).toFixed(2) + 'x' : '-') + "</td></tr>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_bonus']}}</th><td>" + (entry.bonus ? (entry.bonus / 100).toFixed(2) : 0) + " bits</td></tr>" +
                    "<tr><th>{{=it.translation['account_chart_balloon_profit']}}</th><td><b>" + (profit / 100).toFixed(2) + " bits</b></td></tr>" +
                    "</table>";
                return r;
            }

            var accountChart = AmCharts.makeChart("id_divAccountChart", {
                "theme": "dark",
                "type": "serial",
                "marginRight": 80,
                "autoMarginOffset": 20,
                "marginTop": 20,
                "dataProvider": chartData,
                "valueAxes": [{
                    "id": "v1",
                    "axisAlpha": 0.1
                }],
                "graphs": [{
                    "useNegativeColorIfDown": true,
                    "balloonFunction": frmt,
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletBorderColor": "#FFFFFF",
                    "hideBulletsCount": 50,
                    "lineThickness": 2,
                    "lineColor": "#578ebe",
                    "negativeLineColor": "#e62121",
                    "valueField": "cum_profit"
                }],
                "chartScrollbar": {
                    "scrollbarHeight": 5,
                    "backgroundAlpha": 0.1,
                    "backgroundColor": "#868686",
                    "selectedBackgroundColor": "#67b7dc",
                    "selectedBackgroundAlpha": 1
                },
                "chartCursor": {
                    "valueLineEnabled": true,
                    "valueLineBalloonEnabled": true
                },
                "categoryField": "n",
                "export": {
                    "enabled": false
                }
            });

            accountChart.addListener("clickGraphItem", function (event) {
                var gameId = event.item.dataContext.game_id;
                window.location="/game/" + gameId;
            });
        });



}
</script>
<!-- END JAVASCRIPTS -->
#}}


{{#def.include('./template/main_profile')}}
