{{##def.page_title = 'Company Profit' #}}

{{##def.content:
<style>
	.class_btnDeleteRange {
	}

	.no-control {
		border: none;
		text-align: center;
	}

	.class_divLineRange {
		margin: 5px;
	}

	.class_divLineTutorial {
		margin: 5px;
	}
</style>
<ul class="nav nav-pills">
	<li>
		<a href="/company">{{=it.translation['admin_menu_statistics']}} </a>
	</li>
	<li>
		<a href="/customer">{{=it.translation['admin_menu_customer']}}</a>
	</li>
	<li class="active">
		<a href="/setting">{{=it.translation['admin_menu_setting']}}</a>
	</li>
	<li>
		<a href="/user-admin">{{=it.translation['admin_menu_user']}}</a>
	</li>
	<li>
		<a href="/support-admin/all">{{=it.translation['admin_menu_support']}}</a>
	</li>
</ul>
<hr/>
<!-- BEGIN PAGE HEADER-->
<h1 style="text-align: center; margin-bottom: 30px;">
	{{=it.translation['admin_setting_title']}}
</h1>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div id='id_divStatistics'>

</div>
<div class="row">
	<div class="col-md-6" >
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>{{=it.translation['admin_setting_crashpointrange_title']}}
				</div>
				<div style='float:right;'>
					<input type = 'button' id='id_btnSaveRange' class = 'btn purple input-inline' style = 'margin-top: 3px;' value = "{{=it.translation['admin_setting_crashpointrange_save']}}" />
				</div>
			</div>
			<div class="portlet-body" style="background-color: #272f3e;color: #fff;">
				<div class = 'row' align = 'center'>
					<div class='col-md-12'>
						<input type = 'text' class = 'form-control input-inline input-small no-control' value = "{{=it.translation['admin_setting_crashpointrange_from']}}"/>
						<input type = 'text' class = 'form-control input-inline input-small no-control' value = "{{=it.translation['admin_setting_crashpointrange_to']}}"/>
						<input type = 'text' class = 'form-control input-inline input-small no-control' value = "{{=it.translation['admin_setting_crashpointrange_percent']}}"/>
						<input type = 'button' class = 'btn blue input-inline input-small no-control' style = 'width:100px !important; margin-left:10px;' id='id_btnAddRange' value = "{{=it.translation['admin_setting_crashpointrange_addrange']}}" />
					</div>
				</div>
				<hr style = 'margin: 5px;'/>
				<div class = 'row' id='id_divContentRange'>
					{{?it.intervals.length == 0}}
						<div class = 'col-md-12 class_divLineRange' align = 'center'>
							<input type = 'number' class = 'form-control input-inline input-small class_numStart' value = '0' min = '0' step="0.1"/>
							<input type = 'number' class = 'form-control input-inline input-small class_numEnd' value = '100' min = '0' step="0.1"/>
							<input type = 'number' class = 'form-control input-inline input-small class_numPercent' value = '100' min = '0' max = '100' step="0.1"/>
							<input type = 'button' class = 'btn green input-inline input-small class_btnDeleteRange' style = 'width:100px !important;' value = "{{=it.translation['admin_setting_crashpointrange_delete']}}" />
						</div>
					{{??}}
						{{~it.intervals:interval:index}}
						<div class = 'col-md-12 class_divLineRange' align = 'center'>
							<input type = 'number' class = 'form-control input-inline input-small class_numStart' value = '{{=parseFloat(interval.interval_start/100.0)}}' min = '0' step="0.1"/>
							<input type = 'number' class = 'form-control input-inline input-small class_numEnd' value = '{{=parseFloat(interval.interval_end/100.0)}}' min = '0' step="0.1"/>
							<input type = 'number' class = 'form-control input-inline input-small class_numPercent' value = '{{=parseFloat(interval.percentage/100.0)}}' min = '0' max = '100' step="0.1"/>
							<input type = 'button' class = 'btn green input-inline input-small class_btnDeleteRange' style = 'width:100px !important;' value = "{{=it.translation['admin_setting_crashpointrange_delete']}}" />
						</div>
						{{~}}
					{{?}}
				</div>
			</div>
		</div>
		<div class="portlet box blue" style ='border-top:1px solid #5faee4'>
			<div class="portlet-body form"  style="background-color: #272f3e;color: #fff;">
				<form action="#" class="form-horizontal">
					<div class="form-body">
						<div class="form-group" hidden = 'true'>
							<label class="col-md-3 control-label">{{=it.translation['admin_setting_safepoint']}}</label>
							<div class="col-md-4">
								<input type="number" class="form-control input" id='id_inputSafePoint' value = "00">
							</div>

						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{=it.translation['admin_setting_warningpoint']}}</label>
							<div class="col-md-4">
								<input type="number" class="form-control input" id='id_inputWarningPoint' value = "{{=it.currentWarningPoint}}">
							</div>
							<button type="button" class="btn btn blue" style = 'margin-top:-1px;' id='id_btnWarningPointSet'>{{=it.translation['admin_setting_warningpoint_set']}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="portlet box blue" style ='border-top:1px solid #5faee4'>
			<div class="portlet-body form"  style="background-color: #272f3e;color: #fff;">
				<form action="#" class="form-horizontal">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">{{=it.translation['admin_setting_tipfee']}}</label>
							<div class="col-md-4">
								<input type="text" class="form-control input" id='id_inputTipFee' value = "{{=it.currentTipFee}}">
							</div>
							<button type="button" class="btn btn blue" style = 'margin-top:-1px;' id='id_btnTipFeeSet'>{{=it.translation['admin_setting_tipfee_set']}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class = 'col-md-6'>
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>{{=it.translation['admin_setting_tutorial']}}
				</div>
				<div style='float:right;'>
					<input type = 'button' id='id_btnSaveTutorial' class = 'btn purple input-inline' style = 'margin-top: 3px;' value = "{{=it.translation['admin_setting_tutorial_save']}}" />
				</div>
			</div>
			<div class="portlet-body" style="background-color: #272f3e;color: #fff;">
				<div class = 'row' align = 'center'>
					<div class='col-md-12'>
						<input type = 'text' class = 'form-control input-inline input-medium no-control' value = "{{=it.translation['admin_setting_tutorial_title']}}"/>
						<input type = 'text' class = 'form-control input-inline input-medium no-control' value = "{{=it.translation['admin_setting_tutorial_url']}}"/>
						<input type = 'button' class = 'btn blue input-inline input-small no-control' style = 'width:100px !important; margin-left:10px;' id='id_btnAddTutorial' value = "{{=it.translation['admin_setting_tutorial_addurl']}}" />
					</div>
				</div>
				<hr style = 'margin: 5px;'/>
				<div class = 'row' id='id_divContentTutorial'>
					{{?it.tutorials.length == 0}}
					<div class = 'col-md-12 class_divLineTutorial' align = 'center'>
						<input type = 'text' class = 'form-control input-inline input-medium class_tutorialTitle' placeholder="{{=it.translation['admin_setting_tutorial_title']}}" value = ''/>
						<input type = 'text' class = 'form-control input-inline input-medium class_tutorialURL' placeholder="{{=it.translation['admin_setting_tutorial_youtubeurl']}}" value = ''/>
						<input type = 'button' class = 'btn green input-inline input-small class_btnDeleteTutorial' style = 'width:100px !important; margin-top:-1px;' value = "{{=it.translation['admin_setting_tutorial_delete']}}" />
					</div>
					{{??}}
					{{~it.tutorials:tutorial:index}}
					<div class = 'col-md-12 class_divLineTutorial' align = 'center'>
						<input type = 'text' class = 'form-control input-inline input-medium class_tutorialTitle' placeholder="{{=it.translation['admin_setting_tutorial_title']}}" value = '{{=tutorial.title}}'/>
						<input type = 'text' class = 'form-control input-inline input-medium class_tutorialURL' placeholder="{{=it.translation['admin_setting_tutorial_youtubeurl']}}" value = '{{=tutorial.url}}'/>
						<input type = 'button' class = 'btn green input-inline input-small class_btnDeleteTutorial' style = 'width:100px !important; margin-top:-1px;' value = "{{=it.translation['admin_setting_tutorial_delete']}}" />
					</div>
					{{~}}
					{{?}}
				</div>
			</div>
		</div>
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>{{=it.translation['admin_setting_advertisement_title']}}
				</div>
			</div>
			<div class="portlet-body form"  style="background-color: #272f3e;color: #fff;">
				<form class="form-horizontal" id='id_formAdvertisement' method='post' action="/uploadAdvertisement" ref='uploadForm' encType="multipart/form-data">
					<div class="form-body">
						<div class="form-group ">
							<label class="control-label col-md-3">{{=it.translation['admin_setting_advertisement_image']}}</label>
							<div class="col-md-9">
								<div class="fileinput fileinput-new" data-provides="fileinput" style= 'width:100%;'>
									<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; height: 80px;">
										<img src="/img/advertisement.jpg">
									</div>
									<div hidden = 'true'>
													<span class="btn default btn-file">
														<span class="fileinput-new"> Select image </span>
														<span class="fileinput-exists"> Change </span>
														<input type="file" name="advertisement" id='id_fileAdvertisement'>
													</span>
										<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{=it.translation['admin_setting_advertisement_link']}}</label>
							<div class="col-md-4">
								<input type="text" class="form-control input" id='id_textAdvertisementLink' name='advertisementLink' value = "{{=it.advertisementLink}}">
							</div>
							<button type="button" class="btn btn blue" style = 'margin-top:-1px;' id='id_submitLink'>{{=it.translation['admin_setting_advertisement_submit']}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="handheld-detection"></div>

{{?it.enginehost}}
<div id="id_divEngineHost" hidden="true">{{=it.enginehost}}</div>
{{?}}

<!-- END PAGE CONTENT-->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/metronic/assets/global/plugins/respond.min.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->

<script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
<script src="/metronic/assets/global/scripts/Metronic.js" type="text/javascript"></script>
<script src="/metronic/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>
<script data-main="scripts/statistics_main" src="/node_modules/requirejs/require.js"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init();
        Layout.init();
        $("#id_fileAdvertisement").change(onChangeFile);
        $("#id_submitLink").click(function() {
            $.post('/saveAdvertisementLink', {
                'advertisementLink': $("#id_textAdvertisementLink").val(),
            }, function (data) {
                alert(data);
            });
        });

        $("#id_btnWarningPointSet").click(function() {
            $.post("/setWarningPoint", {
				'warningPoint' : $("#id_inputWarningPoint").val(),
                'safePoint' : 0
			}, function(data) {
			});
		});

        $("#id_btnTipFeeSet").click(function() {
            $.post("/setTipFee", {
                'tipFee' : $("#id_inputTipFee").val(),
            }, function(data) {
            });
        });

        $("#id_btnAddRange").click(function(ele) {
            addLine(this);
        });

        $("#id_btnSaveRange").click(function() {
			setCrashPointRange();
		});

        $(document).on('click', '.class_btnDeleteRange', function() {
            deleteLine(this);
        });

        $(document).on('change', '.class_numStart', function() {
            onChangeNumStart(this);
        });

        $(document).on('change', '.class_numEnd', function() {
            onChangeNumEnd(this);
        });

        $(document).on('change', '.class_numPercent', function() {
            onChangeNumPercent(this);
        });

        $(document).on('click', '#id_btnAddTutorial', function() {
            addTutorial(this);
        });

        $(document).on('click', '.class_btnDeleteTutorial', function() {
            deleteTutorial(this);
        });

        $("#id_btnSaveTutorial").click(function() {
            saveTutorials();
        });
    });

    function onChangeFile() {
        $("#id_formAdvertisement").submit();
    };

    function addLine(element) {
        var newLine = $("#id_divContentRange").children().last().clone();
        $(newLine).appendTo("#id_divContentRange");
        var prevLine = $(newLine).prev();

        var prevStart = $(prevLine).find('.class_numStart').val();
        var prevEnd = $(prevLine).find('.class_numEnd').val();
        var prevPercent = $(prevLine).find('.class_numPercent').val();

        var newPercent = prevPercent / 2;
        var newEnd = prevEnd;
        var newStart = (parseInt(prevEnd) + parseInt(prevStart)) / 2;
        prevPercent = prevPercent / 2;
        prevEnd = newStart;

        $(prevLine).find('.class_numEnd').val(prevEnd);
        $(prevLine).find('.class_numPercent').val(prevPercent);

        $(newLine).find('.class_numStart').val(newStart);
        $(newLine).find('.class_numEnd').val(newEnd);
        $(newLine).find('.class_numPercent').val(newPercent);
    };

    function deleteLine(element) {
        var parentElement = $(element).parent();

        var prevLine = $(parentElement).prev();
        var nextLine= $(parentElement).next();

        var currentStart = $(parentElement).find('.class_numStart').val();
        var currentEnd = $(parentElement).find('.class_numEnd').val();
        var currentPercent = $(parentElement).find('.class_numPercent').val();

        var prevLineExist = $(prevLine).hasClass('class_divLineRange');
        var nextLineExist = $(nextLine).hasClass('class_divLineRange');

        if(!prevLineExist && !nextLineExist) {
            return;
        } else if(!prevLineExist && nextLineExist) {
            prevLine = undefined;
            $(nextLine).find('.class_numStart').val(currentStart);

            var nextPercent = $(nextLine).find('.class_numPercent').val();
            $(nextLine).find('.class_numPercent').val(parseFloat(currentPercent) + parseFloat(nextPercent));

        } else if(prevLineExist && !nextLineExist) {
            nextLine = undefined;
            $(prevLine).find('.class_numEnd').val(currentEnd);

            var prevPercent = $(prevLine).find('.class_numPercent').val();
            $(prevLine).find('.class_numPercent').val(parseFloat(prevPercent) + parseFloat(currentPercent));

        } else {
            var prevPercent = $(prevLine).find('.class_numPercent').val();
            var nextPercent = $(nextLine).find('.class_numPercent').val();
            prevPercent = parseFloat(prevPercent) + parseFloat(currentPercent / 2);
            nextPercent = parseFloat(nextPercent) + parseFloat(currentPercent / 2);

            $(prevLine).find('.class_numPercent').val(prevPercent);
            $(nextLine).find('.class_numPercent').val(nextPercent);

            $(prevLine).find('.class_numEnd').val(currentEnd);
        }

        $(parentElement).empty();
        $(parentElement).remove();
    };

    function onChangeNumStart(element) {
        var currentStart = parseFloat($(element).val());
        var currentEndElement = $(element).parent().find('.class_numEnd');
        var currentEnd = parseFloat($(currentEndElement).val());

        var prevLine = $(element).parent().prev();
        var prevLineExist = $(prevLine).hasClass('class_divLineRange');

        if(prevLineExist) {
            var prevEnd = $(prevLine).find('.class_numEnd').val();
            $(prevLine).find('.class_numEnd').val(currentStart);
        }

        checkParameters();
    };

    function onChangeNumEnd(element) {
        var currentStartElement = $(element).parent().find('.class_numStart');
        var currentStart = parseFloat($(currentStartElement).val());
        var currentEnd = parseFloat($(element).val());

        var nextLine = $(element).parent().next();
        var nextLineExist = $(nextLine).hasClass('class_divLineRange');

        if(nextLineExist) {
            var nextStart = $(nextLine).find('.class_numStart').val();
            $(nextLine).find('.class_numStart').val(currentEnd);
        }
        checkParameters();
    };

    function onChangeNumPercent(element) {

        var sumPercent = 0.0;
        var size = $("#id_divContentRange .class_numPercent").size();
        var flag = false;
        $("#id_divContentRange .class_numPercent").each(function(index) {
            if(flag == false){
                if($(this).is($(element))){
                    flag = true;
                    if(size == 1)
                        $(this).val(100 - sumPercent);
                }
                sumPercent += parseFloat($(this).val());
                size --;
            } else {
                if(sumPercent > 100)
                    $(this).parent().find('.class_btnDeleteRange').trigger('click');
                else $(this).val((100 - sumPercent) / size);
            }
        });
    };

    function checkParameters() {
        $($("#id_divContentRange .class_divLineRange").get().reverse()).each(function(index) {
            if(parseFloat($(this).find('.class_numStart').val()) >= parseFloat($(this).find('.class_numEnd').val()))
                $(this).find('.class_btnDeleteRange').trigger('click');
        });
    };

    function setCrashPointRange() {
        var data = [];
        var k = 0;

        $("#id_divContentRange .class_divLineRange").each(function(index) {
            data[k]={};
            data[k]['interval_start'] = parseFloat($(this).find('.class_numStart').val());
            data[k]['interval_end'] = parseFloat($(this).find('.class_numEnd').val());
            data[k]['percentage'] = parseFloat($(this).find('.class_numPercent').val());
            k++;
        });
		$.post('/saveIntervals', {
            intervals:data
		}, function(data){
		});
	};

    function addTutorial() {
        var newLine = $("#id_divContentTutorial").children().last().clone();
        $(newLine).find('.class_tutorialTitle').val("");
        $(newLine).find('.class_tutorialURL').val("");
        $(newLine).appendTo("#id_divContentTutorial");
	}

	function deleteTutorial(element) {
		var parentElement = $(element).parent();
        var prevLine = $(parentElement).prev();
        var nextLine= $(parentElement).next();
        var prevLineExist = $(prevLine).hasClass('class_divLineTutorial');
        var nextLineExist = $(nextLine).hasClass('class_divLineTutorial');
        if(!prevLineExist && !nextLineExist) {
            $(parentElement).find('.class_tutorialTitle').val("");
            $(parentElement).find('.class_tutorialURL').val("");
            return;
        }
		$(parentElement).empty();
        $(parentElement).remove();
	}

	function saveTutorials() {
        var data = [];
        var k = 0;

        $("#id_divContentTutorial .class_divLineTutorial").each(function(index) {
            data[k]={};
            var title = $(this).find('.class_tutorialTitle').val();
            var url = $(this).find('.class_tutorialURL').val();

            if(title != '' && url != '') {
                data[k]['title'] = title;
                data[k]['url'] = url;
                k++;
            }
        });
        $.post('/saveTutorials', {
            tutorials:data
        }, function(data){
        });

	}



</script>
<!-- END JAVASCRIPTS -->
#}}


{{#def.include('./template/main')}}
