<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>MADABIT | Error</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/metronic/assets/admin/pages/css/login2.css" rel="stylesheet" type="text/css"/>
<link href="/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/css/custom.css" rel="stylesheet">
<script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class = 'login'>
        <div class="row" align= 'center' style = 'padding:200px 0'>
            <div>
                <img src="/metronic/assets/frontend/pages/img/logo.png" width = "250"  alt="logo" class="logo-default"/>
            </div>
            <div>
                <h2 style="font-weight: 1000;">{{=it.translation['error_sentence_1']}}</h2>
                <h3 style="font-weight: 1000;">{{=it.translation['error_sentence_2']}}</h3>
                <br/>
                {{?it.error}}
                <h6>{{=it.translation['error_error']}}: {{=it.error}}</h6>
                {{?}}
                <a href="/" style='font-size:20px;'>{{=it.translation['error_link']}}</a>
            </div>
        </div>
</body>
</html>
