{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="portlet light">
    <div class="portlet-body" align='center'>

    <div class="row">
        <div class='col-md-12'>
            <h1>Game #<strong>{{=it.game.id}}</strong> information</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10' style = 'font-size: 15px;'>
            <p style='margin-top: 20px;'>
                <b>Busted At: </b> {{#def.format: { n: it.game.game_crash, decimals: 2 } }}x
            </p>
            <p>
                <b>Played: </b>{{=it.game.created}} <small>{{=it.game.timeago}}</small>
            </p>
            <h3 style="padding: 20px 0; font-weight: 600; margin-top: 35px;">Players</h3>
            <table class="table">
                <thead style='font-weight:bold;'>
                <tr>
                    <td>Player</td>
                    <td>Bet</td>
                    <td>Cashed Out</td>
                    <td>Bonus</td>
                    <td>Profit</td>
                </tr>
                </thead>
                <tbody>
                {{~it.plays :play:index}}
                <tr {{?!play.cash_out}}class="lose"{{?}}>
                    <td>
                        <strong>
                            <a href="/user/{{=play.username}}">{{=play.username}}</a>
                        </strong>
                    </td>
                    <td>
                        {{#def.format: { n: play.bet } }} bits
                    </td>
                    <td>
                        {{? play.cash_out}}
                        {{#def.format: {n: play.cash_out / play.bet * 100, decimals: 2} }}x
                        {{??}}
                        Lose
                        {{?}}
                    </td>
                    <td>
                        {{? play.bonus }}
                        {{#def.format: {n: play.bonus/play.bet* 100 * 100, decimals: 2} }}%
                        {{??}}
                        -
                        {{?}}
                    </td>
                    <td>
                        {{#def.format: { n: (play.cash_out ? play.cash_out : 0) - play.bet + ( play.bonus ? play.bonus : 0) , decimals: 2 } }}
                        bits
                    </td>
                </tr>
                {{~}}
                </tbody>
            </table>
            <h5><b>Hash:</b> <a href="/faq#fair">{{=it.game.hash}}</a></h5>
        </div>
        <div class='col-md-1'></div>
    </div>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
    <script src="/metronic/assets/global/scripts/Metronic.js" type="text/javascript"></script>
    <script src="/metronic/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            Metronic.init();
            Layout.init();
        })
    </script>
    <!-- END JAVASCRIPTS -->
    #}}


    {{#def.include('./template/main')}}
