<footer id="colophon" class="site-footer bottom-footer">
  <div class="content">
      <div class="top row">
          <a class="mail col-lg-3 col-md-3 col-sm-12 col-xs-12" href="mailto:info@marine-chain.io">info@marine-chain.io</a>

          <div class="social_wrap col-md-6 col-sm-12">
              <p>Follow us:</p>
              <ul class="socials">
                  <li>
                      <a class="social linkedin" href="https://www.linkedin.com/company/marine-chain-platform/" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social medium" href="https://medium.com/@MarineChain" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social twitter" href="https://twitter.com/MarineChain" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social facebook" href="https://www.facebook.com/MarineChain-375644776218218/" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social telegram" href="https://t.me/MarineChain" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social github" href="https://github.com" target="_blank"></a>
                  </li>
                  <li>
                      <a class="social golos" href="https://golos.io/@marinechain" target="_blank">
				            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 158 171.8" style="enable-background:new 0 0 158 171.8;" xml:space="preserve">
				            <g id="XMLID_16_"><linearGradient id="XMLID_33_" gradientUnits="userSpaceOnUse" x1="17.9143" y1="36.2467" x2="91.7842" y2="36.2467">
				            <stop offset="0" style="stop-color:#FF3F3F"></stop><stop offset="1" style="stop-color:#EB0000"></stop></linearGradient>
				            <path id="XMLID_3_" class="st0" d="M70.8,66L70.8,66c12.3-5.1,20.9-17.4,20.9-31.7C91.8,15.4,76.6,0,58,0 C39.3,0,24.1,15.4,24.1,34.3c0,10.3,4.5,19.5,11.6,25.8L17.9,72C17.9,72,53.6,75.1,70.8,66z"></path><linearGradient id="XMLID_34_" gradientUnits="userSpaceOnUse" x1="2.400511e-06" y1="89.2769" x2="157.8291" y2="89.2769">
				            <stop offset="0" style="stop-color:#2482C5"></stop><stop offset="1" style="stop-color:#285FAC"></stop></linearGradient>
				            <path id="XMLID_11_" class="st1" d="M143.1,103.5c-17-6.1-40.7,5.7-40.7,5.7s18.3-24.5,17.9-60.7C120.1,22,110.7,13.4,103.5,7 c0.6,3.6,0.9,7.3,0.9,11c0,38.4-23.8,64.2-62.1,64.2c-15.9,0-30.5-0.1-42.2-9c0.2,0.6,1.9,7.9,8.7,15.5c3,3.4,7.1,6.8,12.4,9.7 c17.2,9.3,30.4,10.4,31.7,10.5c0.1,0.1,0.1,0.3,0.2,0.4c0,19.1-13.4,46.4-32.4,46.4c-2.9,0-5.7-0.4-8.4-1c-7.4-1.5-12-5.3-12-5.3 s2.6,19.9,24,21.9c23.5,2.2,34.3-2.9,57.6-17.1c24.9-15.2,43.8-31.3,58.3-27.3c11,3,12.8,20.5,12.8,20.5s3.3-6.9,4.3-13 C158.3,128,160.1,109.6,143.1,103.5z"></path></g><g id="XMLID_14_">
				            <path id="XMLID_12_" class="st2" d="M57.2,11.1c7.1,0,13.5,3.2,17.8,8.2l2.7-2.3c-5-5.7-12.4-9.4-20.5-9.4c-5.7,0-11,1.8-15.4,4.8 l2,2.9C47.6,12.7,52.2,11.1,57.2,11.1z"></path></g>
				        	</svg>
				       </a>
                  </li>
                  <li>
                      <a class="social youtube" href="http://www.youtube.com/channel/UCXXIXCOuIWPGrtIOyxSOr1g" target="_blank">
                          <xml version="1.0" encoding="UTF-8">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="4 3 40 40" version="1.1" width="19px" height="19px">
              <g id="surface1">
              <path class="youtube" d="M 43.199219 33.898438 C 42.800781 36 41.101563 37.601563 39 37.898438 C 35.699219 38.398438 30.199219 39 24 39 C 17.898438 39 12.398438 38.398438 9 37.898438 C 6.898438 37.601563 5.199219 36 4.800781 33.898438 C 4.398438 31.601563 4 28.199219 4 24 C 4 19.800781 4.398438 16.398438 4.800781 14.101563 C 5.199219 12 6.898438 10.398438 9 10.101563 C 12.300781 9.601563 17.800781 9 24 9 C 30.199219 9 35.601563 9.601563 39 10.101563 C 41.101563 10.398438 42.800781 12 43.199219 14.101563 C 43.601563 16.398438 44.101563 19.800781 44.101563 24 C 44 28.199219 43.601563 31.601563 43.199219 33.898438 Z "/>
              <path style=" fill:#FFFFFF;" d="M 20 31 L 20 17 L 32 24 Z "/>
              </g>
              </svg>
                      </a>
                  </li>
              </ul>
          </div>

          <div class="policy col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <a href="#privacy" class="legal-privacy-footer">Privacy policy</a>
              <a href="#legal" class="privacy-terms">Terms and conditions</a>             
          </div>
      </div>

      <div class="bottom">
          <p>MarineChainPlatform 2018. All rights Reserved</p>
      </div>
  </div>
</footer>