<style>
	.nav li span {
		padding : 0 0 0 5px;
	}
</style>
<div class="profile-sidebar" style="width:100%;">
	<!-- PORTLET MAIN -->
  <div class="portlet light profile-sidebar-portlet">
		<!-- SIDEBAR USERPIC -->
		<div class="profile-userpic" style= 'text-align:right;'>
			<img src="/img/photos/{{=it.user.username}}.jpg" class="img-responsive" alt="" id='id_imgAvatar'>
      <form action="/uploadAvatar" method='post' enctype="multipart/form-data" id='id_formUploadAvatar' hidden = 'true'>
          <input type="file" name="avatar" id='id_fileAvatar'>
      </form>
      <a id = "id_linkChangeAvatar" hidden = 'true'>{{=it.translation['profile_sidebar_changephoto']}}</a>
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				 {{=it.user.username}}
			</div>
		</div>
		<!-- END SIDEBAR USER TITLE -->
		<!-- SIDEBAR BUTTONS -->
		<!-- END SIDEBAR BUTTONS -->
		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				<li>
					<a href="/account/?clang={{=it.translation['language_for']}}">
						<i class="fas fa-cog fa-lg"></i>
  					<span class="title">{{=it.translation['profile_sidebar_publicinformation']}}</span>
          </a>
				</li>
				<li>
					<a href="/deposit/?clang={{=it.translation['language_for']}}">
  					<i class="fab fa-btc fa-lg"></i>
  					<span class="title">{{=it.translation['profile_sidebar_deposit']}}</span>
					</a>
				</li>
				<li>
					<a href="/withdraw/?clang={{=it.translation['language_for']}}">
  					<i class="fa fa-dollar-sign fa-lg"></i>
  					<span class="title">{{=it.translation['profile_sidebar_withdraw']}}</span>
					</a>
				</li>
				<li>
					<a href="/transfer/?clang={{=it.translation['language_for']}}">
						<i class="fas fa-exchange-alt fa-lg"></i>
						<span class="title">{{=it.translation['profile_sidebar_transfer']}}</span>
					</a>
				</li>
				<li>
					<a href="/security/?clang={{=it.translation['language_for']}}">
  					<i class="fas fa-key fa-lg"></i>
            			<span class="title">{{=it.translation['profile_sidebar_security']}}</span>
					</a>
				</li>
				<li>
					<a href="/support/?clang={{=it.translation['language_for']}}">
						<i class="far fa-envelope fa-lg"></i>
          				  <span class="title">{{=it.translation['profile_sidebar_support']}}</span>
					</a>
				</li>
			</ul>
		</div>

		<!-- END MENU -->
	</div>
	<!-- END PORTLET MAIN -->
</div>
<script>
$(function() {
  $("#id_linkChangeAvatar").click(function() {
    $("#id_fileAvatar").click();
  });

  $("#id_fileAvatar").change(function() {
    if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#id_imgAvatar').attr('src', e.target.result);
            var width = $('#id_imgAvatar').parent().width() / 2;
            $('#id_imgAvatar').css('width', width);
            $('#id_imgAvatar').css('height', width);
            $("#id_formUploadAvatar").submit();
        };
        reader.readAsDataURL(this.files[0]);
    }
  });

  setActiveSidebar();
});

function setActiveSidebar() {
  var pathname = window.location.pathname;
  $("a[href='"+pathname+"']").parent().addClass('active');
  if(pathname != '/security')
      $("#id_linkChangeAvatar").remove();
  else $("#id_linkChangeAvatar").show();
};
</script>
